<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserInfoMapper">
    <select id="queryUserInfoList" resultType="UserInfo">
        SELECT * FROM userinfo
    </select>

    <select id="queryUserInfoById" parameterType="int" resultType="UserInfo" >
        select  * from userinfo where id=#{id}
    </select>
    <select id="addUserInfo" parameterType="UserInfo">
        insert into userinfo (id,name,pwd) value (#{id},#{name},#{pwd})
    </select>
    <!--修改一个用户-->
    <update id="updateUser" parameterType="User">
        update userinfo set name = #{name}, pwd = #{pwd} where id = #{id}
    </update>

    <!--根据id删除一个用户-->
    <delete id="deleteUser" parameterType="int">
        delete from userinfo where id = #{id}
    </delete>
</mapper>