<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.VehicleChargeClassMapper">
    <select id="queryVehicleClassList" resultType="VehicleChargeClass">
        SELECT
            id, vehicle_type as vehicleType,vehicle_desc as vehicleDesc, iu_prefix as iuPrefix,
            create_datetime as createDatetime, update_datetime as updateDatetime,  hour_charge as hourCharge,
            tax_rate as taxRate
        FROM t_vehicle_charge
    </select>

    <select id="querySeasonList" resultType="Season">
        SELECT
            id, device_iu as deviceIU, vehicle_no as vehicleNo, effective_date as effectiveDate , expired_date as expiredDate,
            create_datetime as createDatetime, update_datetime as updateDatetime
        FROM t_season
    </select>

    <select id="queryHolidayList" parameterType="string" resultType="Holiday" >
        select
            id, holiday, holiday_name as holidayName, year, create_datetime as createDatetime, update_datetime as updateDatetime
            from t_holiday where year=#{year}
    </select>
</mapper>